body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Ændret baggrundsfarve */
  margin: 0;
  padding: 0;
}

#startButton {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#startButton:hover {
  background-color: #0056b3;
}


.scenario-header {
  font-weight: bold;
  font-size: 1.4em; /* Juster størrelsen efter behov */
  margin-bottom: 20px;
}

#scenarioContainer {
  text-align: center; /* Justerer billedet og scenariet til midten */
}

#scenarioImage img {
  max-width: 100%;
  height: auto;
  margin-top: 20px; /* Justerer afstanden mellem inputfeltet og billedet */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#introduction {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centrerer teksten vandret */
}

#startInput {
  margin-bottom: 20px; /* Skaber plads mellem inputfeltet og billedet */
}

#quiz {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quiz {
  display: none;
  margin-bottom: 20px;
}

.option {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#nextButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#nextButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#nextButton:hover:not(:disabled) {
  background-color: #0056b3;
}

#result {
  margin-top: 10px;
}